# Environnements virtuels
.venv/
venv/
env/

# Git
.git/
.gitignore

# Cache Python et outils
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Fichiers d'environnement locaux (Sécurité)
.env
.env.local

# Documentation Sphinx générée (On garde juste le code source 'docs/source/')
docs/build/

# Fichiers de projet et IDE
.vscode/
.idea/
*.swp
*.swo

# Lock files optionnels (si on ne veut pas les copier par défaut, bien que uv.lock soit utile)
# Mais on garde généralement uv.lock pour la reproductibilité !
